<div nz-row class="contenedor">
  <div nz-col nzMd=12 class="col-card">
    <nz-card nzTitle="Wilson" [nzBordered]="false" nzHoverable>
      <p>Aquí puedes averiguar que tan perezoso puede ser Wilson
      </p>
      <div class="boton">
        <button nz-button nzType="primary" [routerLink]="'enviar'">Quiero averiguar</button>
      </div>
    </nz-card>
  </div>
  <div nz-col nzMd=12 class="col-card">
    <nz-card nzTitle="Revisar" [nzBordered]="false" nzHoverable>
      <p>Aquí puedes ver todos los registros de uso de la aplicación
      </p>
      <div class="boton">
        <button nz-button nzType="primary" [routerLink]="'revisar'">Quiero revisar</button>
      </div>
    </nz-card>
  </div>
</div>
