<div nz-row class="contenedor">
  <div nz-col nzMd=24 class="col-card">
    <nz-card nzTitle="Wilson" [nzBordered]="false" nzHoverable>
      <nz-steps [nzCurrent]="actual" nzSize="small">
        <nz-step nzTitle="Enviar archivo" [nzStatus]="estado"></nz-step>
        <nz-step nzTitle="Ver resultado"></nz-step>
      </nz-steps>
      <div class="steps-content">
        <!-- Paso 1 -->
        <div class="espacio-contenedor" *ngIf="actual === 0">
          <div nz-space nzDirection="vertical" nzAlign="center" class="bloque">
            <nz-space-item>
              <nz-input-number class="input" [(ngModel)]="cedula" [nzMin]="999" [nzMax]="999999999999"
                [nzPlaceHolder]="'Ingresa tu cédula'">
              </nz-input-number>
            </nz-space-item>
            <nz-space-item>
              <nz-upload nzType="drag" [nzAccept]="'.txt'" [nzMultiple]="false" [nzBeforeUpload]="beforeUpload">
                <p class="ant-upload-drag-icon">
                  <i nz-icon nzType="inbox"></i>
                </p>
                <p class="ant-upload-text">Da un click o arrastra un archivo .txt para continuar</p>
                <p class="ant-upload-hint">
                  Recuerda que solo se acepta un archivo .txt. Para mayor información contacta con Tech and Solve
                </p>
              </nz-upload>
            </nz-space-item>
          </div>
          <!-- <div nz-col nzSpan="12" nzOffset="6">

          </div>
          <div nz-col nzSpan="12" nzOffset="6">

          </div> -->
        </div>
        <!-- Paso 2 -->
        <div class="espacio-contenedor" *ngIf="actual === 1">
          <div nz-space nzDirection="vertical" nzAlign="center" class="bloque">
            <nz-space-item style="width: 100%; padding: 1rem">
              <textarea class="contenidoArchivo">{{resultado | async}}</textarea>
            </nz-space-item>
          </div>
        </div>
      </div>
      <div class="steps-action">
        <button nz-button nzType="primary" [routerLink]="'/'" *ngIf="actual === 1">
          <span>Terminar</span>
        </button>
      </div>
    </nz-card>
  </div>
</div>
