li {
  text-transform: uppercase;
}

nz-header {
  position: fixed;
  width: 100%;
  padding-left: 0;
}

nz-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fff;
}

nz-content {
  margin-top: 64px;
}

nz-breadcrumb {
  margin: 16px;
}

nz-breadcrumb-item {
  //margin: 16px;
  text-transform: capitalize;
  cursor: pointer;
}

.texto-azul {
  color: #1890ff !important;
}
